@import "./_theme.scss";

.contextMenu {
    position: fixed;
    background: white;
    color: black;
    box-shadow: 0px 2px 10px #999999;
    margin-top: 6px;
    margin-left: 2px;
    
    &--sub {
        @extend .contextMenu;
        margin-top: 0px;
        margin-left: 0px;
    }
    &--option {
        padding: 6px 10px 5px 10px;
        cursor: pointer;
        min-width: 80px;
        font-size: 12px;
        white-space: nowrap;
        span {
            display: block;
            float: right;
        }
        &:hover {
            background: $accent;
            color: white;
        }
        
        &:active {
            color: #e9e9e9;
            background: $accent
        }
        
        &__disabled {
            color: #999999;
            pointer-events: none;
        }
    }
    
    &--separator {
        height: 1px;
        background: #CCCCCC;
        margin: 0 0 0 0;
    }
}
