@import "./_theme.scss";

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 40%;
    right: auto;
    bottom: auto;
    width: 320px;
    background-color: $bgwhite;
    outline: none;
    z-index: 10;
    text-align: center;
    border-radius: 6px;
    p {
        margin: 8px 8px;
    }
    textarea {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6px;
        margin-top: 4px;
    }
    .cardTextArea{
        text-align: center;
    }
    .cookieTextArea {
        resize: none;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10
}

.optionsButtonPair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mButton {
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 16px;
    color: $bggray;
    margin: 6px;

    &--red {
        @extend .mButton;
        background: $red;
    }
    &--green {
        @extend .mButton;
        background: $green;
    }
}

